<a href="https://colab.research.google.com/github/meredith224/Code-Quiz/blob/main/8_8_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(42)

n = 200

df = pd.DataFrame({
    'employee_id': [f"E{i:04d}" for i in range(n)],
    'department': np.random.choice(['Sales', 'Engineering', 'HR', 'Marketing'], size=n),
    'salary': np.random.normal(loc=85000, scale=15000, size=n).round(0).clip(40000, 150000),
    'years_exp': np.random.normal(loc=6, scale=2.5, size=n).round(1).clip(0.5, 20),
    'performance': np.random.randint(1, 6, size=n)
})

print("âœ… Sample of employee dataset:")
print(df.head())

âœ… Sample of employee dataset:
  employee_id department   salary  years_exp  performance
0       E0000         HR  86306.0        6.5            3
1       E0001  Marketing  80515.0        4.5            3
2       E0002      Sales  86376.0        6.2            3
3       E0003         HR  55186.0        5.0            3
4       E0004         HR  81705.0        6.3            4

In [ ]:
print("\nðŸ“Œ df.describe() gives summary stats for all numeric columns:")
print(df.describe())

ðŸ“Œ df.describe() gives summary stats for all numeric columns:
              salary   years_exp  performance
count     200.000000  200.000000   200.000000
mean    85286.545000    6.091000     3.015000
std     15048.355517    2.355517     1.408793
min     40000.000000    0.500000     1.000000
25%     74213.750000    4.500000     2.000000
50%     85996.000000    6.050000     3.000000
75%     94416.000000    7.700000     4.000000
max    142791.000000   11.500000     5.000000

In [ ]:
print("\nðŸŽ¯ What salary is at the 90th percentile? So the point where only 10% of employees earn more than that â€” it shows top earners.")
print(df['years_exp'].quantile(0.25))

ðŸŽ¯ What salary is at the 90th percentile? So the point where only 10% of employees earn more than that â€” it shows top earners.
4.5

In [ ]:
df['salary_range'] = pd.cut(
    df['salary'],
    bins=[0, 60000, 80000, 100000, 150000],
    labels=['low', 'mid', 'high', 'very high']
)

print("\nðŸ“Š Salary buckets using pd.cut():")
print(df[['salary', 'salary_range']])

ðŸ“Š Salary buckets using pd.cut():
       salary salary_range
0     86306.0         high
1     80515.0         high
2     86376.0         high
3     55186.0          low
4     81705.0         high
..        ...          ...
195   63462.0          mid
196  102447.0    very high
197   85153.0         high
198   70277.0          mid
199   91932.0         high

[200 rows x 2 columns]

In [ ]:
df['exp_quantile'] = pd.qcut(df['years_exp'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

print("\nðŸ“Š Experience quartiles using pd.qcut():")
print(df[['years_exp', 'exp_quantile']].head())

ðŸ“Š Experience quartiles using pd.qcut():
   years_exp exp_quantile
0        6.5           Q3
1        4.5           Q1
2        6.2           Q3
3        5.0           Q2
4        6.3           Q3

In [ ]:
print("\nðŸ“Š How many employees in each performance rating?")
print(df['performance'].value_counts())

ðŸ“Š How many employees in each performance rating?
performance
3    45
5    40
1    40
4    39
2    36
Name: count, dtype: int64

In [ ]:
# ----------------------
# .rank(): Ranking each value
# ----------------------
# Assigns rank to each value (1 = highest/lower depending on ascending)
# method='dense': no gaps in ranks when there are ties
df['salary_rank'] = df['salary'].rank(method='dense', ascending=False)
print("\nSalary rank (1 = highest):")
print(df[['employee_id', 'salary', 'salary_rank']])

Salary rank (1 = highest):
    employee_id    salary  salary_rank
0         E0000   86306.0         97.0
1         E0001   80515.0        123.0
2         E0002   86376.0         96.0
3         E0003   55186.0        197.0
4         E0004   81705.0        116.0
..          ...       ...          ...
195       E0195   63462.0        188.0
196       E0196  102447.0         20.0
197       E0197   85153.0        105.0
198       E0198   70277.0        168.0
199       E0199   91932.0         64.0

[200 rows x 3 columns]

In [ ]:
# ----------------------
# .mode(): Most frequent value
# ----------------------
# Useful for categorical columns to find most common entry
print("\nMost common department:")
print(df['department'].mode())

Most common department:
0           HR
1    Marketing
Name: department, dtype: object

In [ ]:
# ----------------------
# .corr(): Correlation matrix
# ----------------------
# Shows linear relationship between numeric columns
print("\nCorrelation matrix:")
print(df.corr(numeric_only=True))

Correlation matrix:
               salary  years_exp  performance  salary_rank
salary       1.000000  -0.017376     0.026226    -0.964181
years_exp   -0.017376   1.000000    -0.095057     0.051878
performance  0.026226  -0.095057     1.000000    -0.041066
salary_rank -0.964181   0.051878    -0.041066     1.000000

In [ ]:
# ----------------------
# .std(), .var(): Spread of the data
# ----------------------
# Standard deviation and variance of salary
print("\nSalary spread:")
print("Standard deviation:", df['salary'].std())
print("Variance:", df['salary'].var())

Salary spread:
Standard deviation: 15048.355516692145
Variance: 226453003.75675893

In [ ]:
# ----------------------
# .nlargest(): Top N values
# ----------------------
print("\nTop 5 salaries:")
print(df.nlargest(5, 'salary')[['employee_id', 'salary']])

Top 5 salaries:
    employee_id    salary
133       E0133  142791.0
103       E0103  125803.0
37        E0037  121949.0
144       E0144  119720.0
49        E0049  117857.0

In [ ]:
df = dim_titles_roku_python.loc[:, ['release_year', 'title_name', 'age_certification', 'imdb_score']]
df['score'] = df.groupby(['release_year', 'title_name'])['imdb_score'].transform('mean')

df = df[df['release_year'] > 1950]

df['decade'] = pd.cut(df['release_year'], bins=[1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020, 2025], labels=['[1950-1960)', '[1960-1970)', '[1970-1980)', '[1980-1990)', '[1990-2000)', '[2000-2010)', '[2010-2020)', '[2020+)'])


most_popular = df.groupby(['decade'])['score'].idxmax()


result = df.loc[most_popular]

# ## fails here
# result = result[['decade', 'title_name', 'age_certification', 'production_countries', 'score']]

print(result)